	@import url(http://fonts.googleapis.com/css?family=Karla);
	body{
		color: white;
		text-shadow: -1px 0 rgba(0,0,0,0.5), 0 -1px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.5), -1px -2px rgba(0,0,0,0.3);
		font-family: "Karla", eurostile, sans-serif;
		font-weight:normal;
		text-align: center;

		background-color:#0099FF;
		background:url('clearblu_bg.jpg');
	}
	form{
		text-align: left;
		color:black;
		text-shadow:none;
		text-size:;
	}
	h2{
		font-size: 15px;
		text-decoration: underline;
	}
	a{ color: white; text-decoration:none;} 

	header {margin-bottom:20px;}

	#columns{
		margin-left: auto;   
		margin-right: auto; 
		width: 950px;
	}	

	#clearblu{
		text-align: center;
		letter-spacing: 50px;
		font-size: 50px;
		font-weight:bold;
	}
	#consulting{
		letter-spacing: 25px;
		font-size: 18px;
	}
	#columns .column{
		position: relative;
		width: 23%;
		padding: 1%;
	}
	#columns .brand{float:left;}
	#columns .social{float:left;}
	#columns .mobile{float:left;}
	#columns .cloud{float:right;}
	
	#blabel{visibility: hidden;font-size: 22px;}
	#slabel{visibility: hidden;font-size: 22px;}
	#mlabel{visibility: hidden;font-size: 22px;}
	#clabel{visibility: hidden; font-size: 22px;}
	
	.brand:hover #blabel{ visibility: visible;}
	.social:hover #slabel{ visibility: visible;}
	.mobile:hover #mlabel{ visibility: visible;}
	.cloud:hover #clabel{ visibility: visible;}

	.hidden { display: none; }
 	.unhidden { display: block; }
 	
 	#shadowing{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #CCA;
	z-index:10;
	opacity:0.5;
	filter: alpha(opacity=50);
	}


	#box {
	display: none;
	position: fixed;
	top: 10%;
	left: 20%;
	width: 520px;
	height: 350px;
	padding: 48px;
	margin:0;
	border: 1px black;
	background-color: white;
	z-index:101;
	overflow: auto;
	}

	#boxtitle{
	position:absolute;
	float:center;
	top:0;
	left:0;
	width:615px;
	height:24px;
	padding:0;
	padding-top:4px;
	left-padding:8px;
	margin:0;
	border-bottom:4px solid #3CF;
	background-color: #330099;
	color:white;
	text-align:center;
	}

	#info{
		position: fixed;
		top:2%;
		right: 2%;
		text-align:center;
	}
